<?php

$dirs = [
    __DIR__ . '/src',
    __DIR__ . '/tests',
];

$rules = [
    '@PSR2' => true,
    'array_syntax' => ['syntax' => 'short'],
    'binary_operator_spaces' => ['align_equals' => true, 'align_double_arrow' => true],
    'blank_line_before_return' => true,
    'cast_spaces' => true,
    'concat_space' => [ 'spacing' => 'one' ],
    'include' => true,
    'linebreak_after_opening_tag' => true,
    'new_with_braces' => true,
    'no_blank_lines_after_class_opening' => true,
    'no_empty_statement' => true,
    'no_extra_consecutive_blank_lines' => [ 'use', 'return', 'continue', 'throw' ],
    'no_leading_import_slash' => true,
    'no_leading_namespace_whitespace' => true,
    'no_multiline_whitespace_around_double_arrow' => true,
    'no_singleline_whitespace_before_semicolons' => true,
    'no_trailing_comma_in_list_call' => true,
    'no_unused_imports' => true,
    'no_whitespace_in_blank_line' => true,
    'object_operator_without_whitespace' => true,
    'ordered_imports' => true,
    'phpdoc_align' => true,
    'phpdoc_indent' => true,
    'phpdoc_no_access' => true,
    'phpdoc_no_alias_tag' => [ 'type' => 'var' ],
    'phpdoc_no_empty_return' => true,
    'phpdoc_no_package' => true,
    'phpdoc_order' => true,
    'phpdoc_scalar' => true,
    'phpdoc_separation' => true,
    'phpdoc_to_comment' => true,
    'phpdoc_trim' => true,
    'phpdoc_var_without_name' => true,
    'pre_increment' => true,
    'self_accessor' => true,
    'single_blank_line_before_namespace' => true,
    'single_quote' => true,
    'standardize_not_equals' => true,
    'ternary_operator_spaces' => true,
    'trailing_comma_in_multiline_array' => true,
];



$finder = PhpCsFixer\Finder::create()->in($dirs);

$config = PhpCsFixer\Config::create();
$config->setFinder($finder);
$config->setRules($rules);

return $config;
